/*
  HEADER
  */
#header {
  position: fixed;
  top: 0;
  height: 11rem;
  background-color: #231f20;
  border-bottom: 3px solid #000;
  z-index: 999;
}
#opacityHeader {
  height: 100%;
  width: 100%;
  padding: 0px;
}
#rowHeader,#titleHeader{
  height: 100%
}
#rowHeader{
  margin-left: 1px;
}
#logoCompa{
  position: relative;
  width: 45%;
  height: 100%;
}
#titleHeaderMid {
  /*  background-image: url(../img/logoWhite.png);
    background-position: left;
    background-size:contain;
    background-repeat: no-repeat;*/
}
#titleHeaderTop {
    height: 10%
}
#searchDiv {
    margin-top: 3rem;
    background-color: rgba(255, 255, 255, 1);
    border: 3px solid #000;
}
.mdl-textfield {
    margin-left: 5rem;
    width: 80%
}
#categoryHeader{
  height:100%;
}
#categoryBtn{
  margin-top: 3.5rem;
  margin-left: 10px;
  width: 60%;
  height: 40%;
  text-align: center;
}
.dropdown{
  padding-top: 10px;
}
.dropdown .categoryContent{
  color:  #E5E5E5;
  font-size: 1.5rem;
}
.categoryContent{
  background-color: rgba(0,0,0,0);
}


/*
  content
*/
#compareBtnDiv {
    height: 100%}
.checkDiv, .mdl-card__actions {
    position: absolute;
}
.mdl-cel, .rowModal {
    margin-top: 50px;
}

#compareDiv {
    height: 17rem;
}
.checkDiv {
    top: 1rem;
    right: 2rem;
    border: 1px solid #fff;
    border-radius: 20px;
}
.checkDivOn {
    background-color: red;
}
.demo-card-square.mdl-card {
    width: 20rem;
    height: 20rem;
}
.demo-card-square.mdl-card.modal-card{
  height: 40rem;
}
.demo-card-square>.card-title {
    color: #fff;
    min-height: 17rem;
}
.mdl-card__supporting-text {
    width: 100%}

.mdl-cel {
    /*margin-left: 25px;
    margin-right: 15px;*/
}
.mdl-button {
    opacity: .8;
}
.mdl-card__title {
    background: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
    width: 100%}
.modal-content, .modal-dialog {
    width: 100%;
    height: 100%}
.modal-body {
    height: 90%}
.impar {
    background: rgba(0, 0, 0, .05);
}
.mc-content {
    height: 23rem;
}
#divAmazon, .imgAmazon {
    height: 80%}
.mc-description {
    margin: -20px -20px -70px;
}
.imgAmazon {
    text-align: center;
}
.imgAmazon a img {
    height: 100%;
    width: auto;

}
.rowWinner {
    background-color: #4CA64C;
}
.rowDarkRoast {
    background-color: #323232;
    color: #fff;
}
.rowMediumRoast {
    background-color: #6f6f6f;
    color: #fff;
}
.rowLoser {
    background-color: #C94C4C;
}

h6{
  min-height: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  bottom: 10rem;
}

#imgCompareHere{
  /*height: 100%;
  width: 100%;*/
}

/*hover div*/
.hoverDiv{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  height: 100%;
  width: 100%;
  display: none;
}
.mdl-card:hover .hoverDiv {
  display: block;
}
.specDiv{
  margin-top: 30%;
  margin-left: 5%;
}
.btnDiv{
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
.divHidden{
  visibility: hidden;
}
.allSpecs{
  position: absolute;
  display: none;
}

/*
  filter
*/
.mdl-grid {
    margin-top: 11rem;
    padding: 0px;
}
#leftBar{
  position: fixed;
  left: 0;
  background-color: #40bca3;
  height: 170rem;
}
.filterOpt{
  padding-left: 20px;
  padding-right: 5px;
}
.filterTitle{
  color: #fff;
}
#rightGrid{
  margin-left: 16.8rem;
}
